html {
    font-family: sans-serif;
}

body {
	margin: 0;
}

.main {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    vertical-align: middle;
}

.table {
    flex: 1 545px;
    padding: 10px;
    margin-right: 20px;
    border-spacing: 0px;

    td, th {
        padding: 5px;
        text-align: center;
        border: solid 1px black;
    }

    .scoreThree {
        background-color: rgb(253, 143, 143);
    }
    .scoreThree:last-child {
        background-color: white;
    }

    .averageHighlight {
        background-color: rgb(2, 182, 253);
    }
}

.control-panel {
    flex: 1 400px;
    padding: 10px;
    display: block;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: flex-start;

    .highlight-average-three {
        padding: 10px;
        display: flex;
        margin-bottom: 20px;
        padding: 0;
        vertical-align: middle;
    }

    .filter-by {
        padding: 10px;
        margin-bottom: 20px;
        padding: 0;

        .filter-input {
            padding: 0;
            margin: 5px;
            width: 40px;
        }
    }

    .highlight-by {
        padding: 10px;
        display: block;
        margin-bottom: 20px;
        padding: 0;

        .highlight-input {
            padding: 0;
            margin: 5px;
            width: 100px;
        }
    }
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: rgb(212, 238, 247);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

.overlay {
    z-index: 1000;
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
    
}