<div class="main">
  <div class="table">
    <table>
      <tr>
        <th>№</th>
        <th (click)="sortBy('lastName')">Last name</th>
        <th (click)="sortBy('firstName')">First name</th>
        <th (click)="sortBy('midName')">Mid name</th>
        <th (click)="sortBy('birthDate')">Date of birth</th>
        <th (click)="sortBy('averageScore')">Average score</th>
      </tr>
      <tr #table *ngFor="let student of filteredStudents; let i = index" [ngClass]="{scoreThree: isThreeScore(student) && threeScoreFlag === true,
      averageHighlight: highlightStudentsBy(student)}">
        <td>{{i + 1}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.midName}}</td>
        <td>{{getBirthdate(student.birthDate)}}</td>
        <td>{{student.averageScore}}</td>
      </tr>
    </table>
  </div>
  <div class="control-panel">
    <div class="highlight-average-three">
      <p>Highlight students with an average grade of 3 and below</p>
      <input type="checkbox" (change)="threeScoreFlag=!threeScoreFlag">
    </div>
    <div class="filter-by"> Filter by: 
      <select name="filter-by__select" id="filter-by" [(ngModel)]="filterBy">
        <option value="birthDate">Date of birth</option>
        <option value="averageScore">Average score</option>
      </select>
      <p>Enter value to filter the list</p>
      <div class="filter-by__date-input" *ngIf="this.filterBy === 'birthDate'">
        <span>Date:</span>
        <input type="text" class="input-date"[(ngModel)]="filterDate">
        <span>Month:</span>
        <input type="text" class="input-month" [(ngModel)]="filterMonth">
        <span>Year:</span>
        <input type="text" class="input-year" [(ngModel)]="filterYear">
        <button (click)="filterStudents()">Filter</button>
        <button (click)="resetFilters()">Reset filter</button>
      </div>
      <div class="filter-by__average-input">
        <input type="text" class="filter-input" *ngIf="this.filterBy === 'averageScore'" [(ngModel)]="filterString" (onchange)="filterStudents()">
        <button (click)="filterStudents()">Filter</button>
        <button (click)="resetFilters()">Reset filter</button>
      </div>
    </div>
    <div class="highlight-by"> Highlight by name: 
      <input type="text" class="highlight-input" [(ngModel)]="firstName">
      or surname:
      <input type="text" class="highlight-input" [(ngModel)]="lastName">
    </div>
  </div>
</div>