<div class="main" [ngClass]="{overlay: popupVisibility || addFlag || editFlag}">
  <table class="table">
    <tr>
      <th>№</th>
      <th (click)="sortBy('lastName')">Last name</th>
      <th (click)="sortBy('firstName')">First name</th>
      <th (click)="sortBy('midName')">Mid name</th>
      <th (click)="sortBy('birthDate')">Date of birth</th>
      <th (click)="sortBy('averageScore')">Average score</th>
    </tr>
    <tr *ngFor="let student of filteredStudents; let i = index" [ngClass]="{scoreThree: isThreeScore(student) && threeScoreFlag === true,
    averageHighlight: highlightStudentsBy(student)}">
      <td>{{i + 1}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.midName}}</td>
      <td>{{getBirthdate(student.birthDate)}}</td>
      <td>{{student.averageScore}}</td>
      <td><button (click)="onStudentClick(i)">Edite</button></td>
      <td><button (click)="deleteClick(i)">Delete</button></td>
    </tr>
  </table>

  <div class="control-panel">
    <div class="highlight-average-three">
      <span class="highlight-average-three__text" >Highlight students with an average grade of 3 and below</span>
      <input type="checkbox" class="highlight-average-three__checkbox" (change)="threeScoreFlag=!threeScoreFlag">
    </div>
    <div class="filter-by">
      <span class="filter-by__text">Enter value to filter the list</span>
      <div class="filter-by__date-input">
        <span class="text-date">Date:</span>
        <input type="text" class="filter-input" [(ngModel)]="filterDate">
        <span class="text-month">Month:</span>
        <input type="text" class="filter-input" [(ngModel)]="filterMonth">
        <span class="text-year">Year:</span>
        <input type="text" class="filter-input" [(ngModel)]="filterYear">
        <br>
        <button (click)="filterStudents()">Filter</button>
        <button (click)="resetFilters()">Reset filter</button>
      </div>
      <div class="filter-by__average-input">
        <span>or average</span>
        <input type="text" class="filter-input" [(ngModel)]="filterString" (onchange)="filterStudents()">
        <br>
        <button (click)="filterStudents()">Filter</button>
        <button (click)="resetFilters()">Reset filter</button>
      </div>
    </div>
    <div class="highlight-by"> 
      <span>Highlight by name:</span> 
      <input type="text" class="highlight-input" [(ngModel)]="firstName">
      <br>
      <span>or surname:</span>
      <input type="text" class="highlight-input" [(ngModel)]="lastName">
    </div>
    <button (click)="this.addStudentClick()">Add student</button>
  </div>
</div>
<div class="modal" *ngIf="popupVisibility">
  <span>{{this.systemMessage.message}}</span>
  <div>
    <button (click)="popupAction()">Ok</button>
    <button (click)="popupVisibility = false">Cancel</button>
  </div>
</div>
<app-student-form [addFlag]="addFlag" [editFlag]="editFlag" [editedStudent]="editedStudent" (editFlagChange)="editFlag=$event"
  (addFlagChange)="addFlag=$event" [filteredStudents]="filteredStudents" (filteredStudentsChange)="filteredStudents=$event"
  *ngIf="this.addFlag || this.editFlag"></app-student-form>
