<div class="products">
    <span class="category">{{productType$ | async}}</span>
    <hr>
    <div class="filter-panel">
        <div class="dropdown" id="dropdown-sort"></div>
        <div class="dropdown" id="dropdown-filter"></div>
        <div class="search">
            <input type="text" placeholder="Search">
            <img src="/src/assets/addToCart.png">
        </div>  
    </div>
    <div class="actual-filter"></div>
    <div class="actual-products">
        <app-quick-view *ngFor = "let product of products$ | async; let i = index; trackBy: trackByFn"
        [product]="product" routerLink="productdetails/`${product.id}`"></app-quick-view>
    </div>
</div>
