.container {
    padding-top: 3rem;
    width: 600;
    margin: 0 auto;

    header {
        background: #54d0ff;
        height: 100px;
    }
    h1 {
        color: #a80900;
        text-align: center;
        line-height: 100px;
        margin: 0;
    }
}