<div className="footer">
    <div className="connect"><img src="/src/assets/phone.png"> <a href="tel:88121234567">8 (812) 123-45-67</a></div>
    <div className="connect"><img src="/src/assets/email.png"><a href="mailto:email@mail.com">
        email@mail.com</a></div>
    <div className="connect">&copy; 2021 All rights reserved</div>
    <ul className="socials">
        <li><a href="https://www.facebook.com/" ><img src="/src/assets/facebook.png"></a></li>
        <li><a href="https://www.instagram.com/" ><img src="/src/assets/instagram.png"></a></li>
        <li><a href="https://www.twitter.com/" ><img src="/src/assets/twitter.png"></a></li>
    </ul>
</div>
