<div class="footer">
    <div class="connect">
        <div class="coonect-item" *ngFor = "let contactsElement of contactsElements; let i = index; trackBy: headerService.trackByFn">
            <img src={{contactsElement.imgSrc}}>
            <a href={{contactsElement.href}}>{{contactsElement.text}}</a>
        </div>
        <a>&copy; 2021 All rights reserved</a>
    </div>
    <div class="socials">
        <div *ngFor = "let socialsElement of socialNetworksElements; let i = index; trackBy: headerService.trackByFn">
            <a href={{socialsElement.href}}>
                <img src={{socialsElement.imgSrc}}>
            </a>
        </div>
    </div>
</div>
